<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.project.springbootcurrency.mapper.DrugMapper">
    <select id="getDrugById" resultType="cn.project.springbootcurrency.pojo.Drug" parameterType="int">
        SELECT * FROM `drug` WHERE `drug_c_w`=#{drug_c_w};
    </select>
    <select id="getLabelByParentId" resultType="cn.project.springbootcurrency.pojo.Label" parameterType="int">
        select * from `chinic_label_dic` where parentId=#{parentId};
    </select>
    <select id="getUser_YiSheng" resultType="cn.project.springbootcurrency.pojo.User">
        SELECT * FROM `user` WHERE id IN (SELECT u_id FROM `user_role` WHERE r_id=2);
    </select>
    <select id="getDrugByDrug_c_wAndCommon_nameAndPinyincode" resultType="cn.project.springbootcurrency.pojo.Drug">
        SELECT * FROM `drug` WHERE `drug_c_w`=#{drug_c_w} AND (`common_name`=#{common_name} OR `pinyincode`=#{pinyincode});
    </select>
    <insert id="insertPrescription" parameterType="cn.project.springbootcurrency.pojo.Patient" useGeneratedKeys="true" keyProperty="id">
        insert into `prescription` values(0,#{id},0);
    </insert>
    <insert id="insertPrescription_drug" parameterType="int">
        INSERT INTO `prescription_drug` VALUES(0,#{type},#{drug_id},#{prescription_id});
    </insert>
</mapper>