<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.project.springbootcurrency.mapper.Patient_VipMapper">
    <select id="getCountUserVipByDate" resultType="int">
        select count(*) from patient_vip
        <where>
            <if test="type==1">
                and date_format(creationDate,'%Y-%m-%d') = DATE_FORMAT(now(),'%Y-%m-%d')
            </if>
            <if test="type==2">
                and DATE_FORMAT(`creationDate`,'%Y-%m-%d') = DATE_FORMAT(DATE_SUB(now(),INTERVAL 1 DAY),'%Y-%m-%d')
            </if>

        </where>
    </select>
    <insert id="addPatientByPatient_id" useGeneratedKeys="true" keyProperty="id">
        insert into patient_vip(p_id,v_id ) values(#{p_id},1)
    </insert>

</mapper>