<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.project.springbootcurrency.mapper.Patient_FamilyMapper" >
    <insert id="addNewPF">
        insert into patient_family(p_id,f_id) values (#{p_id},#{f_id})
    </insert>

</mapper>